
:root {
    --primary-color: #f1f4de;
    --secundary-color: #e07a5f;
    --terciary-color: #46725d;
    --text-color: #313349;
    --quarter-color: #f2cc8f;
  }
  
  * {
    font-family: 'Inter', sans-serif;
    padding: 0%;
    margin: 0%;
    font-style: none;
    list-style: none;
    text-decoration: none;
  }
button, a {
    cursor: pointer;
}
  
#fazerLogin {
    width: 40%;
    height: 70vh;
    left: 25%;
    top: 10%;
    border-color: #c1c2b6;
    border-radius: 20px;
    background-color:  var(--primary-color);
    padding-top: 30px;
}

#fazerLogin::backdrop{
    backdrop-filter: blur(5px);
}
.container-login{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    color: var(--terciary-color);
    position: relative;
    width: 95%;
    height: 90%;
   
}
.login{
    margin: 30px 10px;
}
.container-login a{
    margin: 5px;
}

.btnFechar {
    position: absolute;
    cursor: pointer;
    height: 30px;
    width: 30px;
    top: -26px;
    right: 5px;
    font-weight: 400;
    background-color: transparent;
    color:var(--terciary-color);
    border: var(--terciary-color) 1px solid;
    font-size: 1rem;
    font-family:'Inter', sans-serif;
    transition: border-radius 1s;
}
.btnFechar:hover{
    border-radius: 50%;
    cursor: pointer;
    
}
input{
    border-bottom: var(--terciary-color) solid 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: 0 0 0 0;
    outline: 0;
    width: 20rem;
    height: 2rem;
    background-color: transparent;
    font-size: large;
    font-family: 'Inter', sans-serif;
    margin-top: 30px;
    color: var(--terciary-color);
}

input:hover{
    border-bottom: var(--secundary-color) solid 2px;
    border-top: none;
    border-left: none;
    border-right: none;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}
#fazerLogin .ri-mail-open-line {
    left: 305px;
    top: 2px;
    position: relative;
}  
#fazerLogin .ri-lock-password-line{
    left: 305px;
    top: 2px;
    position: relative;
}
.complementos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#fazerLogin a:link {
    color: #46725d;
}
#buttonLogin {
    width: 140px;
    height: 50px;
    font-size: 14px;
    font-weight: 600;
    border: solid 2px ;
    transition: border-radius 1s;
    margin-bottom: 15px;
    align-items: center;
    background-color: transparent;
    text-transform: uppercase;
    color: var(--terciary-color);
 }
 
#buttonLogin:hover{
    border-radius: 50px;
    cursor: pointer;
}