
:root {
    --primary-color: #f1f4de;
    --secundary-color: #e07a5f;
    --terciary-color: #46725d;
    --text-color: #313349;
    --quarter-color: #f2cc8f;
  }
  
  * {
    font-family: 'Inter', sans-serif;
    padding: 0%;
    margin: 0%;
    font-style: none;
    list-style: none;
    text-decoration: none;
  }
  
dialog{
    margin: 106px 291px;
    width: 503px;
    height: 369px;
    position: relative;
    border-color: #f1f4de;
    border-radius: 20px;
    background-color: transparent;
    backdrop-filter: blur(5px);
}

.container-login{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #f1f4de;
    backdrop-filter: blur(5px);
}

h1 {
    margin-bottom: 30px;
    font-variant-caps: titling-caps;
 }

input{
    border-bottom: #e6e7f4 solid 1px;
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: 0 0 0 0;
    outline: 0;
    width: 20rem;
    height: 2rem;
    background-color: transparent;
    font-size: large;
    font-family: 'Inter', sans-serif;
    margin-bottom: 30px;
    color: #f1f4de;
}

input:hover{
    border-bottom: var(--secundary-color) solid 1px;
    border-top: none;
    border-left: none;
    border-right: none;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

button {
    width: 140px;
    height: 50px;
    background-color: transparent;
    color: #f1f4de;
    font-size: 14px;
    font-weight: 600;
    border: solid 1px ;
    transition: border-radius 1s;
    margin-bottom: 15px;
    ba
}

button:hover{
    border-radius: 50px;
    cursor: pointer;
}
.complementos{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: beige;

}
.btnFechar {
    border: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    top: 5px;
    left: 333px;
    cursor: pointer;
}

.btnFechar img{
    height: 18px;
    width: 18px;
}

.ri-mail-open-line {
    left: 305px;
    top: 2px;
    position: relative;
}
  
.ri-lock-password-line{
    left: 305px;
    top: 2px;
    position: relative;
}