
:root {
    --primary-color: #f1f4de;
    --secundary-color: #e07a5f;
    --terciary-color: #46725d;
    --text-color: #313349;
    --quarter-color: #f2cc8f;
  }
  
  * {
    font-family: 'Inter', sans-serif;
    padding: 0%;
    margin: 0%;
    font-style: none;
    list-style: none;
    text-decoration: none;
  }

  dialog{
    left: 77%;
    width: 265px;
    top: 10%;
    height: 399px;
    position: relative;
    border-radius: 20px;
    background-color:  var(--primary-color);

}
.btnFechar {
  border: none;
  position: relative;
  top: 15px;
  left: 85%;
  cursor: pointer;
  background-color: transparent;
}

.btnFechar img{
  height: 18px;
  width: 18px;
}
