
:root {
    --primary-color: #f1f4de;
    --secundary-color: #e07a5f;
    --terciary-color: #46725d;
    --text-color: #313349;
    --quarter-color: #f2cc8f;
  }
  
  * {
    font-family: 'Inter', sans-serif;
    padding: 0%;
    margin: 0%;
    font-style: none;
    list-style: none;
    text-decoration: none;
  }
  
dialog{
    margin: 50%;
    background-color: #f1f4de;
    width: 500px;
    height: 500px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    z-index: -1;
}

.container-login{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 500px;
    background-color: var(--primary-color);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

h1 {
    margin-bottom: 30px;
    font-variant-caps: titling-caps;
 }

input{
    border-bottom: #313349 solid 1px;
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: 0 0 0 0;
    outline: 0;
    width: 20rem;
    height: 2rem;
    background-color: transparent;
    font-size: large;
    font-family: 'Inter', sans-serif;
    position: unset;
    margin-bottom: 30px ;
}

input:hover{
    border-bottom: var(--secundary-color) solid 1px;
    border-top: none;
    border-left: none;
    border-right: none;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

button {
    width: 140px;
    height: 50px;
    background-color: transparent;
    color: var(--text-color);
    font-size: 14px;
    font-weight: 600;
    border: solid 2px var(--text-color);
    transition: border-radius 1s;
}
button:hover{
    border-radius: 50px;
}

.btnFechar{
    float: left;
    border: none;
}

img {
    height: 30px;
    width: 30px;
}