:root {
  --primary-color: #f1f4de;
  --secundary-color: #e07a5f;
  --terciary-color: #46725d;
  --text-color: #313349;
  --quarter-color: #f2cc8f;
}

* {
  font-family: 'Inter', sans-serif;
  padding: 0%;
  margin: 0%;
  font-style: none;
  list-style: none;
  text-decoration: none;
}

/* ------------------------------------------------------HEADER */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tituloDhouse a {
  display: flex;
  flex-wrap: nowrap;
  color: var(--secundary-color);
  transition: color 1s;
  font-size: 36px;
}

.tituloDhouse a:hover {
  color: var(--terciary-color);
}

.navLink {
  grid-area: navLink;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.navLink ul {
  display: flex;
  padding: 12px;
}

.navLink a {
  color: var(--secundary-color);
  transition: color 1s;
  padding: 12px;
  font-size: 20px;
  font-weight: 900;
}

.navLink a:hover {
  color: var(--terciary-color);
}

.navIcones {
  grid-area: navIcones;
  display: flex;
  justify-content: flex-end;
}

.iconeEntrada img {
  width: 24px;
  opacity: 0.6;
  padding: 10px;
}

.iconeEntrada img:hover {
  border-bottom: solid 3px;
  color: black;
}
/* ------------------------------------------------------BODY */
body{
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    font-family: 'Inter', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    align-items: center;
}

.complementos{
  display: flex;
  flex-direction: row;
}

input{
  border-bottom: #313349 solid 1px;
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: 0 0 0 0;
  outline: 0;
  width: 10rem;
  height: 2rem;
  background-color: transparent;
  font-size: large;
  font-family: 'Playfair Display', serif;
  margin-bottom: 10px;
  position: unset;
}

input:hover{
  border-bottom: #313349 solid 2px;
  border-top: none;
  border-left: none;
  border-right: none;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

button {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  cursor: pointer;
  background-color: var(--primary-color);
  margin-top: 10px;
  border: none;
  font-family: 'Playfair Display', serif;
  width: 100px;
  transition: border 1s ease-out;
}
button:hover {
  content: "";
  font: var(--text-color);
  border-bottom: #2736d8 solid 2px;
}


