
#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: var(--primary-color);
    height: 50px;
    text-decoration: none;
    position: fixed;
    width: 93vw;
  }
/* li::marker {
  content: ' ';
} */

  .tituloDhouse {
    display: flex;
  }
  
  .tituloDhouse a {
    display: flex;
    flex-wrap: nowrap;
    color: var(--secundary-color);
    transition: color 1s;
    font-size: 36px;
  }
  
  .tituloDhouse a:hover {
    color: var(--terciary-color);
  }
  
  .navLink {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  
  .navLink ul {
    display: flex;
    padding: 12px;
  }
  
  .navLink a {
    color: var(--secundary-color);
    transition: color 1s;
    padding: 12px;
    font-size: 20px;
    font-weight: 900;
  }
  
  .navLink a:hover {
    color: var(--terciary-color);
  }
  
  .navIcones {
    display: flex;
    justify-content: flex-end;
    height: 50px;
  }
  .navIcones div{
    margin-top: 18px;
    font-weight: 700;
  }
  
  .navIcones img {
    width: 24px;
    height: 24px;
    opacity: 0.6;
    padding: 10px;

  }
  .iconeEntrada img:hover {
    border-bottom: solid 3px;
    color: black;
  }