:root {
	--primary-color: #f1f4de;
	--secundary-color: #e07a5f;
	--terciary-color: #46725d;
	--text-color: #313349;
	--quarter-color: #f2cc8f;
}

* {
	font-family: 'Inter', sans-serif;
	padding: 0;
	margin: 0;
	text-decoration: none;

}

/* ---  START DESCRIPTION  --- */

.description {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-flow: column wrap;
	gap: 20px;
	font-size: 28px;
	font-weight: 600;
	color: var(--terciary-color);
}

.sobre {
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)), url(./../imagem//pierre-chatel-innocenti-pxoZSTdAzeU-unsplash.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: var(--primary-color);
	height: 550px;
	padding: 50px 150px;
}

.titleDescriptionH2 {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
	font-size: 50px;
	margin-bottom: 100px;
	color: #d66140;
}

.introduction {
	text-align: center;
	font-size: 32px;
	color: var(--text-color);
}

.cardsBox {
	display: grid;
	grid-template-columns: auto auto;
	align-items: center;
	justify-content: center;
	padding: 50px 150px;
	gap: 20px;
}

.box-description {
	margin: auto;
	border: 2px solid var(--text-color);
	text-align: justify;
	border-radius: 10px;
	height: 230px;

}

.titleDescriptionH4 {
	margin: 20px;
	text-align: center;
	color: var(--secundary-color);
	font-size: 24px;
}

.titleDescriptonP {
	font-size: 20px;
	color: var(--text-color);
	margin: 0px 50px 10px 50px;
}

/* --- CARROSSEL  --- */

.container-slide {
	display: flex;
	justify-content: space-between;
	position: relative;
	width: 1000px;
	height: 500px;
	margin: 10px auto;
	border-radius: 10px;
	box-shadow: 0 1px 3px #00000088;
}

.container-items {
	position: absolute;
	display: flex;
	width: 1000px;
	height: 500px;
	border-radius: 10px;
	overflow: hidden;
}

.item {
	width: 1000px;
	height: 550px;
	transition: all 1.5s;
}

.item:first-child {
	margin-left: -100%;
}

.item img {
	width: 1000px;
	height: 500px;
	border-radius: 10px;
}

.number {
	font-size: 13px;
	font-family: sans-serif;
}

.action-button {
	font: bold 50px sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #120ecf00;
	user-select: none;
	width: 50%;
	z-index: 1;
}

.action-button:hover {
	color: black;
	cursor: pointer;
	border-radius: 10px;
	transition: all 0.5s;
}

#previous {
	border-radius: 10px 0px 0px 10px;
}

#next {
	border-radius: 0px 10px 10px 0px;
	margin-right: -479px;
}

.indicators {
	position: relative;
	color: white;
	top: 101%;
	margin-right: 22.5%;
	height: 40px;
	transform: translate(-50%);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 7px;
}

.indicators span {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25px;
	height: 25px;
	background-color: var(--secundary-color);
	border-radius: 50%;
	user-select: none;
	cursor: pointer;
	font-weight: 600;
	border: solid 1px var(--secundary-color);
}

.indicators span:hover {
	background-color: var(--terciary-color);
	color: rgb(255, 255, 255);
	box-shadow: 0 0 3px black;
	font-weight: 1000;
}

.indicators .selected {
	background-color: var(--terciary-color);
	color: rgb(255, 255, 255);
	box-shadow: 0 0 3px black;
}

/* --- START MIDDLE ---*/

.middle {
	width: 85%;
	display: grid;
	grid-template-columns: 50% 50%;
	justify-content: center;
	align-content: center;
}

/* --- STAR FORM ----*/

#feedback-form {
	display: flex;
	gap: 5px;
	flex-direction: column;
	margin: 70px 50px 50px 50px;
	width: 95%;
}

.textLabel {
	margin: 30px;
	font-size: 20px;
	font-weight: 600;
	color: var(--text-color);
}

#feedback-form label {
	font-weight: bold;
	margin-bottom: 5px;
}

#feedback-form input {
	margin-bottom: 10px;
	padding: 10px;
	width: 80%;
	border-radius: 5px;
	font-size: 16px;
	word-wrap: break-word;
}

#feedback-form button {
	background-color: var(--secundary-color);
	color: white;
	margin-top: 10px;
	width: 100px;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	font-weight: 600;
	cursor: pointer;
}

#feedback-form button:hover {
	background-color: var(--terciary-color);
	color: white
}

.nome-label {
	color: var(--secundary-color);
}

.email-label {
	color: var(--secundary-color);
}

.text-label {
	color: var(--secundary-color);
}

#name-input {
	width: 50%;
}

#email-input {
	width: 50%;
}

#feedback-input {
	height: 100px;
	width: 50%;
}

#file-input {
	width: 130px;
}

/* ---  START MAPS  --- */

#map {
	width: 85%;
	border-radius: 10px;
	margin: 100px 100px 50px 50px;
}

.custom-map-control-button {
	background-color: #fff;
	border: 1px solid var(--text-color);
	border-radius: 5px;
	box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
	font: 500 18px Roboto, Arial, sans-serif;
	overflow: hidden;
	cursor: pointer;
}

.custom-map-control-button:hover {
	background-color: rgb(235, 235, 235);
}

/* FOOTER */

.footer-container {
	display: grid;
	grid-template-columns: 45% 55%;
	align-items: center;
	justify-content: center;
	background: linear-gradient(180deg,
			rgba(4, 112, 107, 0.986) 0%,
			hsla(42, 36%, 78%, 1) 90%);
	box-shadow: inset 0 0.5rem 2rem #46725d(0, 0, 0, 0.6);
	border: rgb(230, 16, 219) solid 5px;
}

.tituloDhouse {
	margin: 20px 150px;
}

.footer-wotc-terms {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 1rem;
	font-size: 12px;
	font-weight: 700;
	margin: 50px 0px 0px 150px;
}

.footer-wotc-social {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin: 10px 0px 0px 150px;
	gap: 3rem;
	font-size: 1.2rem;
}

.footer-wotc-terms a,
.footer-wotc-social a {
	color: var(--text-color);
	transition: var(--terciary-color);
}

.footer-wotc-terms a:hover,
.footer-wotc-social a:hover {
	color: var(--secundary-color);
}

.footer-right {
	text-align: right;
}

.dev-info-container {
	display: grid;
	grid-template-columns: repeat(3, 1.5fr);
	align-content: center;
	justify-content: center;
	margin: 20px 70px;
	gap: 1rem;
}

.dev-info h3 {
	margin-bottom: 0.5rem;
	font-size: 1.5rem;
	color: var(--text-color);
}

.dev-info h4 {
	margin-bottom: 1.5rem;
	font-weight: 400;
	font-size: 1rem;
	color: var(--text-color);
}

.dev-contact {
	margin-bottom: 1.5rem;
	font-weight: 300;
	font-size: 1rem;
	color: var(--text-color);
}

.dev-contact li i {
	padding-right: 0.4rem;
}

.dev-socials {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 2rem;
}

.dev-socials a {
	font-size: 1.2rem;
	color: var(--text-color);
	transition: var(--transition);
}

.dev-socials a:hover {
	color: var(--text-color);
}

/* media queries */

@media screen and (max-width: 1440px) {
	section {
		padding: 5rem 0;
	}

	nav img {
		width: 12%;
	}

	.nav-container {
		width: var(--container-width-md);
	}

	.nav-menu a {
		font-size: 0.8rem;
	}


	.footer-container {
		padding: 3rem 6rem;
	}

	.footer-left p {
		font-size: 0.9rem;
	}

	.footer-copyright {
		font-size: 1rem;
	}
}

@media screen and (max-width: 1024px) {
	.container {
		width: var(--container-width-md);
	}

	h1 {
		font-size: 2.2rem;
	}

	h2 {
		font-size: 1.7rem;
	}

	h3 {
		font-size: 1.4rem;
	}

	h4 {
		font-size: 1.2rem;
	}

	nav img {
		width: 18%;
	}

	.nav-btn {
		display: inline-block;
		font-size: 2rem;
		color: var(--color-light);
	}

	#closeBtn {
		display: none;
	}

	.nav-menu {
		width: 18rem;
		height: fit-content;
		display: none;
		flex-direction: column;
		gap: 0;
		position: fixed;
		top: 5rem;
		right: 5%;
		border: 2px solid var(--color-gold-100);
		border-radius: 10px;
		background-color: var(--color-dark);
		box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.6);
		overflow: hidden;
	}

	.nav-menu li {
		width: 100%;
		height: 5.8rem;
	}

	.nav-menu li a {
		width: 100%;
		height: 100%;
		display: grid;
		place-items: center;
		font-size: 1rem;
		background-color: var(--color-dark);
		box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
	}

	.nav-menu li a:hover {
		color: var(--color-dark);
		background-color: var(--color-gold-100);
	}

	.header-container {
		width: 70%;
	}

	.upcoming-sets {
		background: linear-gradient(to bottom,
				#000 0%,
				#000 20%,
				#dcd0b4 20%,
				#dcd0b4 100%);
	}

	.upcoming-container {
		max-width: 50%;
		grid-template-columns: 1fr;
	}

	.upcoming-card-info-img img {
		bottom: 8rem;
	}

	.upcoming-card-info p {
		margin: 0 1.5rem 2.5rem;
		font-weight: 300;
		font-size: 1.2rem;
	}

	.connect-wotc-social {
		font-size: 1.8rem;
	}

	.database-call-info h3 {
		margin-bottom: 1rem;
		font-size: 1.8rem;
	}

	.database-call-info p {
		margin-bottom: 2rem;
		font-size: 0.9rem;
	}

	.footer-container {
		grid-template-columns: 1fr;
		place-items: center;
		padding: 3rem 2rem;
		text-align: center;
	}

	.footer-left {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.footer-left p {
		width: 60%;
		margin-bottom: 1.5rem;
		text-align: center;
	}

	.footer-wotc-terms {
		margin-bottom: 1.5rem;
	}

	.footer-right {
		display: none;
	}

	.footer-copyright {
		grid-template-columns: 1fr;
		font-size: 0.9rem;
	}

	.footer-copyright-left,
	.footer-copyright-right {
		text-align: center;
	}
}

@media screen and (max-width: 768px) {
	.container {
		width: var(--container-width-sm);
	}

	nav img {
		width: 20%;
	}

	.header-info p {
		font-size: 1.5rem;
	}

	.connect-wotc-social {
		gap: 5rem;
	}

}

@media screen and (max-width: 440px) {

	.footer-left img {
		width: 40%;
	}

	.footer-left p {
		width: 90%;
	}

	.footer-wotc-terms {
		font-size: 0.9rem;
	}

	.footer-copyright {
		font-size: 0.8rem;
	}

	.footer-copyright-left {
		margin-bottom: 0.5rem;
	}
}