:root {
  --primary-color: #f1f4de;
  --secundary-color: #e07a5f;
  --terciary-color: #46725d;
  --text-color: #313349;
  --quarter-color: #f2cc8f;
}

* {
  font-family: 'Inter', sans-serif;
  padding: 0%;
  margin: 0%;
  font-style: none;
  list-style: none;
  text-decoration: none;
}

/* ------------------------------------------------------BODY */

body {
  margin: auto 0;
  font-family: 'Inter', sans-serif;
}

.containerPL {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-login {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}

.container-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.container-form a {
  padding: 5px;
}

.container-login img {
  height: 374px;
  width: 245px;
}

.complementos {
  display: flex;
  flex-direction: column;
}

.container-form h1 {
  margin: 30px;
}

input {
  border-bottom: #313349 solid 1px;
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: 0 0 0 0;
  outline: 0;
  width: 20rem;
  height: 2rem;
  background-color: transparent;
  font-size: large;
  font-family: 'Inter', sans-serif;
  position: unset;
  margin-bottom: 30px;
}

input:hover {
  border-bottom: var(--secundary-color) solid 1px;
  border-top: none;
  border-left: none;
  border-right: none;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

.complementos a {
  padding: 5px;
}

#buttonLogin {
  width: 140px;
  height: 50px;
  background-color: transparent;
  text-transform: uppercase;
  color: var(--terciary-color);
  font-size: 14px;
  font-weight: 600;
  border: solid 2px;
  transition: border-radius 1s;
  margin-bottom: 15px;
}

button:hover {
  border-radius: 50px;
}

.btn button {
  width: 140px;
  height: 50px;
  background-color: transparent;
  color: var(--text-color);
  font-size: 14px;
  font-weight: 600;
  border: solid 2px var(--text-color);
  transition: border-radius 1s;
}

.btn:hover {
  border-radius: 50px;
}

.ri-mail-open-line {
  left: 305px;
  top: -12px;
  position: relative;
}

.ri-lock-password-line {
  left: 305px;
  top: -12px;
  position: relative;
}