:root{
    --primary-color: #f4f1de;
    --secundary-color: #e07a5f;
    --terciary-color: #4672d4;
    --text-color: #313349;
    --quarter-color: #f2cc8f;
}

body{
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    font-family: 'Playfair Display', serif;
}

h1{
    text-align:center;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 50px;
}
h2{
  font-size: small;
  margin-left: 10px;
}
p{
  margin:0;

}

.container{
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    width: 500px;
  align-items: center;
}

.complementos{
  display: flex;
  flex-direction: row;
}
input{
  border-bottom: #313349 solid 1px;
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: 0 0 0 0;
  outline: 0;
  width: 10rem;
  height: 2rem;
  background-color: transparent;
  font-size: large;
  font-family: 'Playfair Display', serif;
  margin-bottom: 10px;
  position: unset;
}

input:hover{
  border-bottom: #313349 solid 2px;
  border-top: none;
  border-left: none;
  border-right: none;
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}

button {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  cursor: pointer;
  background-color: var(--primary-color);
  margin-top: 10px;
  border: none;
  font-family: 'Playfair Display', serif;
  width: 100px;
  transition: border 1s ease-out;
}


button:hover {
  content: "";
  font: var(--text-color);
  border-bottom: #2736d8 solid 2px;

}


