:root {
    --primary-color: #f1f4de;
    --secundary-color: #e07a5f;
    --terciary-color: #46725d;
    --text-color: #313349;
    --quarter-color: #f2cc8f;
}

* {
    font-family: 'Inter', sans-serif;
    padding: 0%;
    margin: 0%;
    font-style: none;
    list-style: none;
    text-decoration: none;
}

/* ------------------------------------------------------HEADER */

header {
    background-image: url(imagem/produtos/sofa-phillip/sofa-philip.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 960px;
    color: var(--secundary-color);
    font-weight: 900;
    padding: 10px 50px 10px 50px;
    display: grid;
    grid-template: 33% / 33% 33% 34%;
    grid-template-areas:
        "tituloDhouse navLink navIcones"
        "descubra . ."
        "compreAgora . .";
}

.tituloDhouse {
    grid-area: tituloDhouse;
    position: absolute;
}

.tituloDhouse a {
    display: flex;
    flex-wrap: nowrap;
    color: var(--secundary-color);
    transition: color 1s;
    font-size: 32px;
}

.tituloDhouse a:hover {
    color: var(--terciary-color);
}

.navLink {
    grid-area: navLink;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.navLink a {
    color: var(--secundary-color);
    transition: color 1s;
    padding: 10px;
    font-size: 20px;
    font-weight: 900;
}

.navLink a:hover {
    color: var(--terciary-color);
}

.navIcones {
    grid-area: navIcones;
    display: flex;
    justify-content: flex-end;
}

.iconeEntrada img {
    width: 24px;
    opacity: 0.6;
    padding: 10px;
}

.iconeEntrada img:hover {
    border-bottom: solid 3px;
    color: black;
}

.descubra {
    grid-area: descubra;
    display: flex;
    flex-flow: column wrap;
}

.compreAgora {
    grid-area: compreAgora;
    background-color: transparent;
    height: 80px;
    width: 50%;
    color: var(--secundary-color);
    border: solid 2px var(--secundary-color);
}

/* ------------------------------------------------------NEWSLETTER */

#sectionNewsLetter {
    display: flex;
    justify-content: center;
    color: var(--text-color);
    margin: 20px;
}

#d-animation {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    margin-right: 30px;
}

#d-animation img {
    width: 100px;
    animation: ease-in .2 1;
}

#newsLetter {
    background-color: var(--primary-color);
    height: 500px;
    width: 500px;
    padding: 0px 0px 30px 30px;
    display: flex;
    flex-flow: column wrap;
    justify-content: end;
}

.titulo {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
}

.texto {
    font-size: 16px;
    font-weight: 300;
}

#camposNewsLetter {
    margin-top: 60px;
}

#camposNewsLetter input {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 200px;
    height: 30px;
    border: solid 2px var(--text-color);
}

#bottonNewsLetter {
    margin: 10px 10px 0px 0px;
    font-family: 'Inter', sans-serif;
    width: 204px;
    height: 34px;
    color: var(--text-color);
    font-weight: 900;
    font-size: 20px;
    background-color: transparent;
}

#bottonNewsLetter:hover {
    background-color: var(--quarter-color)
}

#bottonNewsLetter:active {
    background-color: var(--secundary-color)
}