:root {
    --primary-color: #f1f4de;
    --secundary-color: #e07a5f;
    --terciary-color: #46725d;
    --text-color: #313349;
    --quarter-color: #f2cc8f;
}

* {
    font-family: 'Inter', sans-serif;
    padding: 0%;
    margin: 0%;
    font-style: none;
    list-style: none;
    text-decoration: none;
}

/* ------------------------------------------------------HEADER */

header {
    background-image: url(imagem/produtos/sofa-philip.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 960px;
    color: var(--secundary-color);
    font-weight: 900;
    padding: 10px 50px 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

header:hover {
    transform: ease-in 1s;
}

.tituloD a {
    display: flex;
    flex-wrap: nowrap;
    color: var(--secundary-color);
    transition: color 1s;
    font-size: 32px;
}

.tituloD a:hover {
    color: var(--terciary-color);
}

#nav {
    display: flex;
    flex-flow: row;
}

#nav a {
    color: var(--secundary-color);
    transition: color 1s;
    padding: 10px;
    font-size: 20px;
    font-weight: 900;
}

#nav a:hover {
    color: var(--terciary-color);
}

#iconesEntrada a img {
    width: 24px;
    opacity: 0.6;
    padding: 10px;
}

#iconesEntrada a img:hover {
    border-bottom: solid 3px;
    color: black;
}

/* ------------------------------------------------------NEWSLETTER */

#sectionNewsLetter {
    display: flex;
    justify-content: center;
    color: var(--text-color);
    margin: 50px;
}

#d-animation {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    margin-right: 30px;
}

#d-animation img {
    width: 100px;
    animation: ease-in .2 1;
}

#newsLetter {
    background-color: var(--primary-color);
    height: 500px;
    width: 500px;
    padding: 0px 0px 30px 30px;
    display: flex;
    flex-flow: column wrap;
    justify-content: end;
}

.titulo {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
}

.texto {
    font-size: 16px;
    font-weight: 300;
}

#camposNewsLetter {
    margin-top: 60px;
}

#camposNewsLetter input {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 200px;
    height: 30px;
    border: solid 2px var(--text-color);
}

#bottonNewsLetter {
    margin: 10px 10px 0px 0px;
    font-family: 'Inter', sans-serif;
    width: 204px;
    height: 34px;
    color: var(--text-color);
    font-weight: 900;
    font-size: 20px;
    background-color: transparent;
}

#bottonNewsLetter:hover {
    background-color: var(--quarter-color)
}

#bottonNewsLetter:active {
    background-color: var(--secundary-color)
}